name: Run Telegram Bot

on:
  push:
    branches: [ "main" ]
  workflow_dispatch: # This allows you to click a "Run" button manually

jobs:
  run-bot:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

    - name: Run Bot Script
      env:
        BOT_TOKEN: ${{ secrets.BOT_TOKEN }}
      run: |
        python main.py
